[Unit]
Description=Nexttrace Backend Alive Probe
After=network.target nexttrace-backendv2.service

[Service]
ExecStart=/root/develop/alive-probe/alive-probe
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Environment="PROBE_HOSTPORT=127.0.0.1:8080"
Environment="V4IP=1.1.1.1"
Environment="V6IP=2400:3200::1"

[Install]
WantedBy=multi-user.target
